{% import "bootstrap/utils.html" as utils %}
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
{{ super() }}

        <div class="wrapper-page">

            {{ utils.flashed_messages() }}

            <div class="text-center">
                <a href="{{ url_for('main.index') }}" class="logo-lg"><i class="md md-equalizer"></i> <span>IWS</span> </a>
            </div>

            {{ wtf.quick_form(form) }}

            <div class="content text-center">
                  <p>You can click here to <a href="{{ url_for('auth.login') }}">Sign in</a></p>
            </div>
        </div>


{% endblock %}
