{% import "bootstrap/utils.html" as utils %}
{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
{{ super() }}

<div class="content-page">
    <!-- Start content -->
          <div class="content">
                <div class="container">

                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="page-title-box">
                              <ol class="breadcrumb pull-right">
                                  <li><a href="#">Home</a></li>
                                  <li><a href="#">Projects</a></li>
                                  <li class="active">Create New</li>
                              </ol>
                              <h4 class="page-title">Projects</h4>
                          </div>
                      </div>
                  </div>

                        <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box">
                              <h3>Show Project ({{ project.id }})</h3>

                              <hr />

                              {{ utils.flashed_messages() }}

                              <div class="container wrapper mb-5">
                                      <div class="container">
                                          <div class="card">
                                              <div class="card-body p-0">
                                                  <table class="table table-hover">
                                                      <tbody>
                                                          <tr style="padding-top:20px;">
                                                              <th scope="row">Project Name</th>
                                                              <td>{{ project.project_name }}</td>
                                                          </tr>
                                                          <tr>
                                                              <th scope="row">&nbsp;</th>
                                                              <td>
                                                                  <button class="btn btn-primary generate" onclick="location.href='{{ url_for('projects.edit', id=project.id) }}';">EDIT</button>
                                                                  <button class="btn btn-danger generate" data-toggle="modal" data-target="#exampleModal" data-id="{{project.id}}" data-project_name="{{project.project_name}}">DELETE</button>
                                                              </td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div>

                                          </div>

                                      </div>
                                  </div>



                            </div>
                          </div>

                        </div>
                </div>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="difftype">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="{{ url_for('projects.delete')}}" method="post">
            <div class="modal-body">
                <div class="row text-center">
                    <img src="{{ url_for('static', filename = 'images/delete.png') }}" />
                </div>
            </div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" id="project_id" name="project_id">
                <p class="text-center">Are you sure you want to delete this client </p>
                <p  class="text-center">Initiated for <span id="project_name"></span></p>

                <div class="modal-footer">
                    <button type="button" class="btn btncan" data-dismiss="modal">DON'T DELETE</button>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


{% endblock %}

{% block script %}
<script>

$(function() {
    $('#exampleModal').on("show.bs.modal", function (e) {
        $("#project_id").val($(e.relatedTarget).data('id'));
        $("#project_name").text($(e.relatedTarget).data('project_name'));
    });
});

</script>
{% endblock %}
