<!-- /container -->

<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script src="{{ url_for('static', filename = 'assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/detect.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/fastclick.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/jquery.blockUI.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/waves.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/jquery.scrollTo.min.js') }}"></script>

<!-- Custom main Js -->
<script src="{{ url_for('static', filename = 'assets/js/jquery.core.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/jquery.app.js') }}"></script>
