

<!-- Right Sidebar -->
<div class="side-bar right-bar">
    <div class="nicescroll">
        <ul class="nav nav-tabs tabs">
            <li class="active tab">
                <a href="#home-2" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                    <span class="hidden-xs">Activity</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home-2">
                <div class="timeline-2">
                  {% for log in logs %}
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted">{{ moment(log.timestamp).fromNow() }}</small>
                            <p><strong><a href="#" class="text-info">{{ log.user.username }}</a></strong> {{ log.action }} <strong>"{{ log.feature.title }}"</strong></p>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Right-bar -->

</div>
<!-- END wrapper -->
